<!doctype html>
<head>
    <title>Lead Segmentation - Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to Lead Segmentation</h1>       
            <p> This Page intentionally blank because this is an API </p>     
          </div>

   </body>
</html>